.filters {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 924px;
  max-height: 96px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  max-height: 16px;
  font-size: 12px;
  font-weight: 400;
  color: #8d929a;
}

.mileageInputs {
  display: flex;
  gap: 1px;
  min-width: 320px;
}

.input {
  height: 44px;
  width: 160px;
  padding: 12px 24px 12px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #101828;
  background: #ffffff;
  outline: none;
}

.input:first-child {
  border-radius: 12px 0 0 12px;
  border-right: none;
}

.input:last-child {
  border-radius: 0 12px 12px 0;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.searchButton {
  height: 44px;
  max-width: 156px;
  padding: 12px 51px;
  background: #00aad4;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s;
}

.searchButton:hover {
  background: #0095ba;
}

.clearButton {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #8d929a;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

.clearButton:hover {
  color: #00aad4;
}
