.filtersContainer {
  display: flex;
  justify-content: center;
  padding: 84px 258px 60px 258px;
}
.carsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 32px;
  padding: 0px 120px 48px 120px;
  list-style: none;
}

.loadMore {
  display: flex;
  justify-content: center;
  padding: 0px 642px 104px 642px;
}

.loadMoreButton {
  padding: 12px 38px;
  background: transparent;
  color: #101828;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #00aad4;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.loadMoreButton:hover {
  border: 1px solid #0095ba;
}
